@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="title">Harjoitustyö</h2>
        <p class="lead">Tietokantasovellusten toteuttaminen Visual Studiolla</p>
    </section>

    <section>
        <p>Sivustolta löytyy tietoa yrityksestä sekä pystyy tekemään tuotetilauksia. Kirjautuneille käyttäjille lisäksi asiakas- ja tuotetietojen muokkaus.</p>
    </section>
</main>